@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

ion-title{
  font-family: 'Bree Serif', serif;
}
ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

$categories: (
  ionic: var(--ion-color-warning),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}
.about-info{
  position: absolute;
  top: 12em;
  z-index: 2;
  border-radius: 15px;
  background: var(--ion-background-color, #fff);
}

.versiculo{
  margin-top: 15px;
  background-color: #333333;
}
.versiculo p{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0px;
  //color: #000000;
}
img{
  width: 100%;
}
#cita{
  font-weight: bold;
  color: #fed035;
}
.botones{
  text-align: center;
}