<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">IGLECENTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="position: relative;">
  <div class="about-info">

      <ion-segment [(ngModel)]="anun" color="warning">
        <ion-segment-button value="anuncios" layout="icon-start">
          <label>&nbsp;Anuncios</label>
          <ion-icon name="megaphone"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="devocionales" layout="icon-start">
          <label>&nbsp;Cultos</label>
          <ion-icon name="book"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="anun">
        <div *ngSwitchCase="'anuncios'">
          
                  <ion-card-content class="versiculo">
                    <div *ngFor="let versiculo of versiculos">
                      <p class="ion-text-justify" *ngIf="(versiculo.id == [today | date:'d'])"> {{versiculo.versiculo}}</p>
                      <p class="ion-text-end" id="cita" *ngIf="(versiculo.id == [today | date:'d'])">{{versiculo.cita}}</p>
                  </div>
                  </ion-card-content>

                  <div class="ion-padding">
                      <ion-card *ngFor="let anuncio of Arranuncios">
                        <div (click)="openSystem(anuncio.link)">
                        <img [src]="anuncio.img">
                        <ion-card-content>
                         <!-- <video autoplay muted width="100%">
                            <source [src]="anuncio.video" type="video/x-m4v">
                          </video>
                          -->
                          <ion-card-title color="warning">
                            {{anuncio.titulo}}
                          </ion-card-title>
                          <ion-item>
                            <ion-icon name="time" slot="start"></ion-icon>
                            <ion-card-subtitle>{{anuncio.hora}}</ion-card-subtitle>
                          </ion-item>
                          <ion-item>
                            <ion-icon slot="start" name="calendar"></ion-icon>
                            <ion-card-subtitle>{{anuncio.fecha}}</ion-card-subtitle>
                          </ion-item>
                          <p class="ion-text-justify">
                            {{anuncio.descripcion}}
                          </p>
                        </ion-card-content>
                      </div>
                      </ion-card>
                    </div>
        </div><!--DIV ANUNCIOS-->
      
        <div *ngSwitchCase="'devocionales'">

          <ion-card-content class="versiculo">
            <div *ngFor="let versiculo of versiculos">
              <p class="ion-text-justify" *ngIf="(versiculo.id == [today | date:'d'])"> {{versiculo.versiculo}}</p>
              <p class="ion-text-end" id="cita" *ngIf="(versiculo.id == [today | date:'d'])">{{versiculo.cita}}</p>
          </div>
          </ion-card-content>
 
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let devocional of Arrdevocional" size="6">

                <ion-card>
                  <img [src]="devocional.img">

                  <ion-card-content>
                   <!-- <video autoplay muted width="100%">
                      <source [src]="anuncio.video" type="video/x-m4v">
                    </video>
                    -->
                    <ion-card-title color="warning">
                      <h1>{{devocional.titulo}}</h1>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <h2>{{devocional.fecha}}</h2>
                    </ion-card-subtitle>

                    <section class="botones">
                      <ion-button (click)="openSystem(devocional.link)" color="warning">
                        <ion-icon name="eye"></ion-icon>
                      </ion-button>

                        <ion-button *ngIf="(devocional.audio != '')" (click)="openSystem(devocional.audio)" color="warning">
                          <ion-icon name="volume-high"></ion-icon>
                        </ion-button>
                      
                    </section>
                    </ion-card-content>
                   </ion-card> 
              
              </ion-col>
            </ion-row>
          </ion-grid>
          


        </div><!--DIV DEVOCIONALES-->
      </div><!--DIV ANUN-->
     
    </div><!--DIV CAJA CURVEADA-->
</div><!--DIV CIERRE CONTENT SUPERPOSICION-->


<ion-slides [options]="slideOptsOne">

 <!-- <ion-slide>
    <img src="../../../assets/img/about/2.jpg">
  </ion-slide>-->
  <ion-slide>
    <img src="../../../assets/img/about/3.jpg">
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/img/about/4.jpg">
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/img/about/1.jpg">
  </ion-slide>
</ion-slides>
</ion-content>
